/*
.people-list {
    width: 260px;
    float: left;
}

.people-list .search {
    padding: 20px;
}

.people-list input {
    border-radius: 3px;
    border: none;
    padding: 14px;
    color: white;
    background: #6A6C75;
    width: 90%;
    font-size: 14px;
}

.fa-search {
    position: relative;
    left: -25px;
}
*/

ul {
    list-style-type: none;
}

.status {
    color: gray;
}

.chat {
    width: 90%;
    float: left;
    background: #F2F5F8;
    color: #434651;
    height: 550px;
}

.chat-header {
    padding: 10px;
    border-bottom: 2px solid white;
}

.chat-header img {
    float: left;
}

.chat-about {
    float: left;
    padding-left: 10px;
    margin-top: 6px;
}

.chat-with {
    font-weight: bold;
    font-size: 14px;
}

.chat-history {
    padding: 10px 10px 10px;
    border-bottom: 2px solid white;
    height: 55%;
    overflow: scroll;
}

.message-data {
    margin-bottom: 5px;
    font-size: 13px;
}

.message-data-time {
    color: lighten(gray, 8%);
    padding-left: 6px;
}

.message {
    color: white;
    padding: 15px 18px;
    font-size: 12px;
    border-radius: 7px;
    margin-bottom: 10px;
    margin-top: 15px; 
    width: 90%;
    position: relative;
}

.chat-message {
    padding: 10px;
}

textarea {
    width: 100%;
    border: none;
    padding: 10px 20px;
    font: 12px/22px "Lato", Arial, sans-serif;
    margin-bottom: 5px;
    border-radius: 5px;
    resize: none;
}

button {
    float: right;
    cursor: pointer;
}

.online,
.offline
{
    margin-right: 3px;
    font-size: 10px;
}

.online {
    color: green;
}

.offline {
    color: orange;
}


.align-left {
    text-align: left;
}

.align-right {
    text-align: right;
}

.float-right {
    float: right;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.alert {
    height: fixed;
}